body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    border: 1px solid black;
}

.newDivs {
    box-sizing: border-box;
    height: 6.25%;
    width: 6.25%;
    border: 1px solid black;
}

#myButton {
    font-size: 2rem;
    margin: 30px;
}

.userDivs {
    box-sizing: border-box;
    border: 1px solid black;
}